{% extends "base.html" %}

{% block content %}
{% if my_ride_list %}
        <table>
          <tr>
              <th>Start from</th>
              <th>Destination</th>
              <th>Start time</th>
              <th>Vehicle type</th>
              <th>Special request</th>
              <th>current passenger num</th>
              <th>Max passenger num</th>
              <th>status</th>
              <th>view</th>
          </tr>

        {% for ride in my_ride_list %}
              <tr>
                  <td>{{ ride.starting_point }}</td>
                  <td>{{ ride.destination }}</td>
                  <td>{{ ride.start_time }}</td>
                  <td>{{ ride.vehicle_type }}</td>
                  <td>{{ ride.special_request }}</td>
                  <td>{{ ride.total_cur_passenger_num }}</td>
                  <td>{{ ride.max_passenger_num }}</td>
                  <td>{{ ride.status }}</td>
                  <td><button><a href="{% url 'orders:ride_detail' ride.id %}">View</a></button></td>

              </tr>
        {% endfor %}
        </table>
{% else %}
    <p>No rides are available.</p>
{% endif %}


{% endblock %}
