{% extends "base.html" %}

{% block content %}
{#   <h1>from {{ ride.starting_point }} to {{ ride.destination }}</h1>#}
    {% if  error %}
        <p>{{ error }}</p>
    {% endif %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <p><strong>Order information</strong></p>



    <!-- Pricing section Start -->
    <section id="pricing">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Order Information</h2>
                <p>Please confirm the information of the order</p>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-6 col-xs-12" display=None>
                </div>

                <div class="col-lg-8 col-md-6 col-xs-12">
                    <div class="table wow fadeInUp" data-wow-delay="1.2s">
                        <div class="title">
                            <h3>Order</h3>
                        </div>
                        <div class="pricing-header">
                            <p class="price-value"><span></span> {{ ride.starting_point }}
                                <span>→</span> {{ ride.destination }}</p>
                        </div>
                        <ul class="description">
                            <h1>
                                <li class="lele_li">Start from: {{ ride.start_time }}</li>
                                <li class="lele_li">Finish at: {{ ride.finish_time }}</li>
                                <li class="lele_li">Vehicle: {{ ride.vehicle_type }}</li>
                                <li class="lele_li">Status: {{ ride.status }}</li>
                                <li class="lele_li">Cur passenger: {{ ride.cur_passenger_num }} people</li>
                                <li class="lele_li">Special request: {{ ride.special_request }}</li>
                            </h1>
                        </ul>
                    </div>
                </div>

            </div>


            <div class="row">

                 <div class="col-lg-4 col-md-6 col-xs-12 active">
                    <div class="table wow fadeInUp" id="active-tb" data-wow-delay="1.2s">
                        <div class="title">
                            <h3>Driver</h3>
                        </div>
                        <div class="pricing-header">

                            <p class="price-value">{{ driver.driverName }}</p>
                        </div>
                        <ul class="description">
                            <h1>
                                <li class="lele_li">Plate Number: {{ driver.plateNumber }}</li>
                                <li class="lele_li">Vehicle: {{ driver.vehicle_type }}</li>
                                <li class="lele_li">Max Passenger Num: {{ driver.max_passenger_num }}</li>
                                <li class="lele_li">Special Info: {{ driver.special_info }} </li>
                            </h1>
                        </ul>
                        <form action="." method="post">
                            {% csrf_token %}
                            <button class="btn btn-common">Get It</button>
                        </form>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-xs-12 active">
                    <div class="table wow fadeInUp" data-wow-delay="1.2s">
                        <div class="title">
                            <h3>Rider Owner</h3>
                        </div>
                        <div class="pricing-header">

                            <p class="price-value">{{ order.owner.username }}</p>
                        </div>
                        <ul class="description">
                            <h1>
                                <li class="lele_li">Name: {{ order.owner.username }}</li>
                                <li class="lele_li">First Name: {{ order.owner.first_name }}</li>
                                <li class="lele_li">Last Name: {{ order.owner.last_name }}</li>
                                <li class="lele_li">Email: {{ order.owner.email }}</li>
                            </h1>
                        </ul>
                        <form action="." method="post"> {% csrf_token %}
                            <button class="btn btn-common">Get It</button>
                        </form>
                    </div>
                </div>

                {% for sharer in sharers %}
                <div class="col-lg-4 col-md-6 col-xs-12 active">
                    <div class="table wow fadeInUp" id="active-tb" data-wow-delay="1.2s">
                        <div class="title">
                            <h3>Rider Sharer</h3>
                        </div>
                        <div class="pricing-header">

                            <p class="price-value">{{sharer.username }}</p>
                        </div>
                        <ul class="description">
                            <h1>
                                <li class="lele_li">Name: {{ sharer.username }}</li>
                                <li class="lele_li">First Name: {{ sharer.first_name }}</li>
                                <li class="lele_li">Last Name: {{ sharer.last_name }}</li>
                                <li class="lele_li">Email: {{ sharer.email }}</li>
                            </h1>
                        </ul>
                        <form action="." method="post">
                            {% csrf_token %}
                            <button class="btn btn-common">Get It</button>
                        </form>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}