{#{% extends "base.html" %}#}
{##}
{#<head>#}
{#    <title>Home Page</title>#}
{#</head>#}
{##}
{##}
{#{% block content %}#}
{##}
{#        <button class="btn-outline-primary"><a href="{% url 'orders:menu_rider' %}">I'am a rider</a></button>#}
{#        <button class="btn-primary"><a href="{% url 'orders:menu_driver' %}">I'am a driver</a></button>#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        <button type="submit" class="btn btn-info" name="rider">I'am a rider</button>#}
{#        <button type="submit" class="btn btn-info" name="driver">I'am a driver</button>#}
{#    </form>#}
{##}
{#{% endblock %}#}

{% extends "base.html" %}

<head>
    <title>Home Page</title>
</head>
{% block content %}

<div class="navbar-top-bottom-margin-compensate"></div>
    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">


      <!-- Hero Area Start -->
      <div id="hero-area" class="hero-area-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="contents text-center">
                <h2 class="head-title wow fadeInUp">We Discover, Design & Build Digital <br> Presence of Businesses</h2>
                <div class="header-button wow fadeInUp" data-wow-delay="0.3s">
                  <a href="#services" class="btn btn-common">Explore</a>
                </div>
              </div>
              <div class="img-thumb text-center wow fadeInUp" data-wow-delay="0.6s">
                <img class="img-fluid" src="assets/img/hero-1.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

    {% load static %}
    <!-- Feature Section Start -->
<form method="post">
    <div id="feature">
      <div class="container-fluid">
        <h2 class="row">

        {% csrf_token %}
            <button class="col-lg-6 col-md-12 col-sm-12  padding-none filter active btn btn-effect I-am-user-square" type="submit" name="rider">
              <div class="feature-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div>
                  <h3>I am a user</h3>
                  <p style="color: #0b0b0b">Become a customer to create or join rides! </p>
                </div>
              </div>
          </button>

          <button class="col-lg-6 col-md-12 col-sm-12 padding-none feature-bg btn-effect active" type="submit" name="driver">
              <div class="feature-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h3
            style="color:white">I am a driver</h3>
              <p style="color: white">Become a driver and earn money! </p>

                          </div>
          </button>
        </h2>
    </div>
    </div>
</form>
    <!-- Feature Section End -->



    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
    	<i class="lni-arrow-up"></i>
    </a>

    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->


{% endblock %}